{
  "ftg": {
    "plugins": {
      "toggl": {
        "enabled": true,
        "api_token": "FTG_API_TOKEN_HERE"
      },
      "jira": {
        "enabled": true,
        "username": "jira_user",
        "password": "jira_password"
      }
    }
  }
}
